/********** 
  2. Button Styles 
**********/
.btn {
  letter-spacing: var(--base-letter-spacing);
  font-weight: var(--extbold-font-weight);

  &:hover {
    color: var(--color-white);
  }

  .btn-check:focus + &,
  &:focus {
    color: var(--color-white) !important;
    outline: 0;
    box-shadow: none;
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active {
    color: var(--color-white) !important;
    box-shadow: none;

    &:focus {
      color: var(--color-white) !important;
      box-shadow: none;
    }
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
    box-shadow: none;
  }
}

.btn {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;

  &-primary {
    color: var(--color-white);
    background: var(--color-primary);
    border: var(--base-border-width) solid var(--color-primary);
    font-weight: 700;

    &:hover {
      color: var(--color-primary);
      background: var(--color-white);
      border-color: var(--color-primary);
    }
    .btn-check:focus + &,
    &:focus,
    &:active,
    &:active:focus,
    &:hover:focus {
      color: var(--color-white) !important;
      background: var(--color-primary) !important;
      border: var(--base-border-width) solid transparent;
    }
  }
  &-secondary {
    position: relative;
    color: var(--color-primary);
    text-align: center;
    text-transform: capitalize;
    background: var(--color-white);
    border: var(--base-border-width) solid var(--color-primary);
    transition: 0.3s all ease-in-out;
    padding: 1rem 1.9rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      margin-right: 10px;
      transition: 0.3s all ease-in-out;
      path {
        transition: 0.3s all ease-in-out;
        fill: var(--color-primary);
      }
    }

    &:hover {
      border: var(--base-border-width) solid var(--color-primary);
      background: var(--color-primary);
      color: var(--color-white);
      svg {
        path {
          fill: var(--color-white);
        }
      }
    }
    btn-check:focus + &,
    &:focus,
    &:active,
    &:active:focus,
    &:hover:focus {
      color: var(--color-white) !important;
      background: var(--color-primary);
      border: var(--base-border-width) solid var(--color-primary);
      svg {
        path {
          fill: var(--color-white);
        }
      }
    }
  }

  &-links {
    background: transparent;
    color: var(--color-primary);
    border: 1px solid rgba(229, 59, 42, 0.3);
    position: relative;
    transition: all 0.3s ease-in-out;

    .btn-check:focus + &,
    &:focus,
    &:active,
    &:active:focus,
    &:hover:focus,
    &:hover {
      color: var(--color-white);
      background: var(--color-primary);
      border: var(--base-border-width) solid rgba(229, 59, 42, 0.3);
    }
  }
  &-white {
    color: var(--color-primary);
    background: var(--color-white);
    border: 1px solid var(--color-secondary)-light;
    font-weight: 700;

    &:hover {
      background: var(--color-primary);
      color: var(--color-white);
      border-color: var(--color-primary);
    }
    .btn-check:focus + &,
    &:focus,
    &:active,
    &:active:focus,
    &:hover:focus {
      color: var(--color-white) !important;
      background: var(--color-primary) !important;
      border: var(--base-border-width) solid transparent;
    }
  }
}

// Button Sizes
//

.btn-lg,
.btn-group-lg > .btn {
  padding: 1.3rem 2.1rem;
  font-size: 1.1rem;
  line-height: 28.44px;
  border-radius: 20px;
}

.btn-sm,
.btn-group-sm > .btn {
  padding: 0.9rem 1.9rem;
  font-size: 1.1rem;
  font-weight: var(--semibold-font-weight);
  border-radius: 12px;
}
.btn-link {
  text-decoration: underline;
  &:hover {
    color: var(--color-primary);
  }
}

/* button label Styles */

.btn-submit {
  background: var(--color-white);
  color: var(--color-primary);
  line-height: 1.6;
  font-size: var(--base-font-size) * 0.875;
  border: 1px solid var(--color-primary);
  padding: calc(var(--base-padding) * 1.25) calc(var(--base-padding) * 2.125) !important;
  &:active,
  &:focus,
  &:hover,
  &:checked + .btn:focus,
  &:active + .btn:focus,
  &:active:focus {
    background: var(--color-primary);
    color: var(--color-white) !important;
    border: 1px solid rgba(255, 255, 255, 0.4);
  }
}
.btn-social {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: var(--color-white);
  padding: calc(var(--base-padding) * 1.25) calc(var(--base-padding) * 1.5) !important;

  svg {
    margin-right: var(--base-margin) * 0.5;
  }
  &:active,
  &:focus,
  &:hover {
    background: transparent;
    color: var(--color-white) !important;
  }
}
