.contact {
  padding-bottom: calc(var(--base-padding) * 9.4);
  @include media-breakpoint-down-xl {
    padding-bottom: calc(var(--base-padding) * 5);
  }
  &-form-Information {
    .address {
      padding-top: calc(var(--base-padding) * 5);
      @include media-breakpoint-down-md {
        padding-top: calc(var(--base-padding) * 3.1);
      }
      h3 {
        font-size: calc(var(--base-font-size) * 1.6);
        font-weight: 600;
        margin-bottom: calc(var(--base-margin) * 0.8);
      }
      p {
        font-size: calc(var(--base-font-size) * 1.25);
        color: var(--color-text);
        margin-bottom: calc(var(--base-margin) * 2.6);
        @include media-breakpoint-down-md {
          margin-bottom: calc(var(--base-margin) * 1.5);
        }
      }
      .item {
        background: var(--color-secondary);
        border-radius: 10px;
        padding: calc(var(--base-padding) * 0.9) calc(var(--base-padding) * 1.25);
        h3 {
          font-size: calc(var(--base-font-size) * 0.8);
          font-weight: 300;
          color: var(--color-text);
          margin-bottom: calc(var(--base-margin) * 0.3);
        }
        a {
          display: flex;
          justify-content: space-between;
          font-size: calc(var(--base-font-size) * 1.25);
          color: var(--color-header);
          font-family: var(--font-secondary);
          font-weight: 700;
          span {
            margin-bottom: calc(var(--base-margin) * 0.7);
          }
        }
      }
    }
  }
  &-form {
    position: relative;
    z-index: 1;
    form {
      border: 1px solid var(--color-secondary);
      box-shadow: 0px 0px 80px rgba(150, 0, 0, 0.06);
      border-radius: 20px;
      z-index: 1;
      margin-top: -calc(var(--base-margin) * 28.2);
      padding: calc(var(--base-padding) * 4.2) calc(var(--base-padding) * 3.3) calc(var(--base-padding) * 3.1);
      background: var(--color-white);
      @include media-breakpoint-down-xl {
        margin-top: -calc(var(--base-margin) * 22);
      }
      @include media-breakpoint-down-lg {
        margin-top: -calc(var(--base-margin) * 17);
      }
      @include media-breakpoint-down-md {
        margin-top: -calc(var(--base-margin) * 64);
        padding: calc(var(--base-padding) * 2.5) calc(var(--base-padding) * 1.2)5 calc(var(--base-padding) * 1.2)5;
      }
      @include media-breakpoint-down-sm {
        margin-top: -calc(var(--base-margin) * 63);
      }
      h3 {
        font-size: calc(var(--base-font-size) * 1.9);
        margin-bottom: calc(var(--base-margin) * 3);
      }
      .label {
        margin-bottom: calc(var(--base-margin) * 0.8);
        font-weight: 600;
        color: var(--color-text);
      }
      .form-control {
        padding: 19px 20px;
        font-size: calc(var(--base-font-size) * 0.9);
        font-weight: 600;
        color: var(--color-header);
        background: var(--color-secondary);
        border: 1px solid var(--color-text);
        border-radius: 10px;
        margin-bottom: calc(var(--base-margin) * 1.9);

        &:focus {
          background: var(--color-header);
          border: 1px solid var(--color-anchor);
          outline: 0;
          box-shadow: none;
        }
      }
      textarea {
        resize: none;
      }
      ::placeholder {
        color: var(--color-cyan);
      }
    }
    .effect {
      -webkit-mask-image: url(/images/contact/effects.png);
      mask-image: url(/images/contact/effects.png);
      background: $color-background-effects;
      position: absolute;
      top: -10%;
      left: -14%;
      z-index: -1;
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      mask-size: contain;
      -webkit-mask-size: contain;
      width: 115%;
      height: 100%;
    }
  }
}
