<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <title>{{print .Page.Title " | " .Site.Title}}</title>
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />

    <link href="/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/phosphor-icons/css/phosphor.css" rel="stylesheet" />
    <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" />

    {{ $style := resources.Get "/scss/theme.scss" | resources.ToCSS |
    resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{$style.Permalink}}" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/images/favicon.png" type="image/x-icon" />
  </head>
  <body>
    {{ partial "navbar.html" . }} {{ block "main" . }} {{ end }} {{ partial
    "footer.html" . }}

    <script src="/vendor/jQuery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/vendor/counter-up/countup.js"></script>
    <script src="/vendor/magnific-popup/magnific-popup.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
