<section class="pricing pb-xxl-20 pb-lg-15 pb-md-5">
  <div class="container">
    <div class="row">
      {{ range .pricing_tier }}
      <div class="col-lg-4">
        <div
          class="card pricing-item {{ if .highlight_tier }} active {{ end }}">
          <h5 class="card-title">{{.tier}}</h5>
          <p class="card-text">{{.description}}</p>
          {{ if .has_discount }}
            <div class="price">
              <p class="pricingtable">{{.currency_symbol}}{{.discount_price}}</p>
              <div class="discount">
                <p>{{.currency_symbol}}{{.price}}</p>
                <div class="vector vector-one">
                  <img
                    src="/images/pricing/cross-shape.png"
                    alt="cross-shape"
                    loading="lazy" />
                </div>
              </div>
              <div class="shape-two top-0">
              </div>
            </div>
          {{ else }}
            <div class="price">
              <p><span>{{.currency_symbol}}{{.price}}</span></p>
              <div class="shape-one">
              </div>
            </div>
          {{ end }}
          <div class="card-body">
            <ul class="list-unstyled">
              {{ range .feature }}
              <li
                class="{{ if eq .active_feature false }} deactive {{ end }}">
                <i
                  class="ph-check {{ if eq .active_feature false }} deactive {{ end }}"></i>
                {{ .item }}
              </li>
              {{ end }}
            </ul>
            <div class="link">
              {{ with .button }}
                <a href="{{.link}}" class="btn btn-lg btn-white">
                  {{.text}}
                </a>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
