{{ with .Site.Data.footer }}
<footer class="footer pt-xxl-19 pt-8 pb-sm-7 pb-5" id="footer">
  <div class="container-fluid">
    <div class="footer-wrapper">
      <div class="row">
        <div class="col-12 col-lg-4 me-auto order-2 order-lg-1">
          <div class="footer-logo mt-7 mt-md-0">
            <a href="{{.logo_url}}" class="">
              <img src="{{.logo}}" alt="logo" />
            </a>
            <p>
              © Copyright <span>{{ dateFormat "2006" now }}</span> {{.copyright}}
            </p>
          </div>
          <div class="social-icon">
            <ul class="list-unstyled">
              {{ range .social }}
              <li>
                <a href="{{.link}}"> <i class="{{.icon}}"></i> </a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
        {{ range .sections }}
        <div class="col-6 col-md-3 col-lg-2 order-1">
          <div class="footer-widget">
            <h3 class="">{{.title}}</h3>
            <ul class="list-unstyled">
              {{ range .links }}
              <li>
                <a href="{{.link}}">{{.text}}</a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</footer>
{{ end }}
