<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=5"
/>
<!-- Page description for SEO -->
{{ if .Params.seo.page_description }}
    <meta name="description" content="{{ .Params.seo.page_description }}">
    <meta property="og:description" content="{{ .Params.seo.page_description }}" />
{{ else }}
    <meta name="description" content="{{ site.Data.meta.description }}">
    <meta property="og:description" content="{{ site.Data.meta.description }}" />
{{ end }}

<!-- Meta tags for open graph and twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="{{ site.Data.meta.twitter_site }}" />
{{ if eq .Permalink "/" }}
    <meta name="og:title" content="{{ site.Data.meta.site_title }}" />
    <meta property="og:type" content="website" />
    <meta name="og:image" content="{{ site.Data.meta.image }}" />
    <meta name="twitter:creator" content="{{ site.Data.meta.twitter_site }}" />
    <meta name="twitter:title" content="{{ site.Data.meta.title }}" />
    {{ with site.Data.meta.twitter_image }}
    <meta name="twitter:image" content="{{ . }}" />
    {{ else }}
    <meta name="twitter:image" content="{{ site.Data.meta.image }}" />
    {{ end }}
{{ else }}
    <meta name="og:title" content="{{ .Title }}" />
    <meta name="twitter:title" content="{{ .Title }}" />
    {{ with .Params.seo.open_graph_type }}
    <meta property="og:type" content="{{ . }}" />
    {{ else }}
    <meta property="og:type" content="website" />
    {{ end }}
    {{ with .Params.seo.featured_image }}
    <meta name="og:image" content="{{ . }}" />
    <meta name="twitter:image" content="{{ . }}" />
    {{ else }}
    <meta name="og:image" content="{{ site.Data.meta.image }}" />
    {{ with site.Data.meta.twitter_image }}
        <meta name="twitter:image" content="{{ . }}" />
    {{ else }}
        <meta name="twitter:image" content="{{ site.Data.meta.image }}" />
    {{ end }}
    {{ end }}
    {{ with .Params.seo.author_twitter_handle }}  
    <meta name="twitter:creator" content="{{ . }}" />
    {{ else }}
    <meta name="twitter:creator" content="{{ .Site.Params.twitter_site }}" />
    {{ end }}
{{ end }}

<!-- Add robots no index -->
{{ if .Params.seo.no_index }}
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
{{ end }}

<!-- Canonical URL for SEO -->
{{ with .Params.seo.canonical_url }}
    <link rel="canonical" href="{{ site.Data.meta.BaseURL }}{{ . | absURL }}" />
{{ else }}
    <link rel="canonical" href="{{ site.Data.meta.BaseURL }}{{ .RelPermalink }}" />  
{{ end }}
