.error {
  position: relative;
  background: var(--color-secondary);
  &-content {
    position: relative;
    h3 {
      color: var(--color-header);
      font-weight: var(--bold-font-weight);
    }
    img {
      max-width: 100%;
    }
  }
}
