<section class="about-hero-two">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-10 mx-auto">
        <div class="about-hero-two-content position-relative">
          <h2>{{.title}}</h2>
          <p class="mb-20 w-xxl-80">{{.description | markdownify}}</p>
          <div class="">
            {{with .link}}
            <a href="{{.url}}" class="btn btn-primary btn-lg"> {{.text}} </a>
            {{end}}
          </div>
        </div>
      </div>
      <div class="col-xl-7 col-lg-12">
        <div class="about-hero-two-banner">
          {{ range .hero_images }}
            <div class="rounded-box 
              {{ if eq .placer "back_top_right" }}
                image-one
              {{ else if eq .placer "front_bottom" }}
                image-two
              {{ else if eq .placer "back_top_left" }}
                image-three
              {{ end }}">
              <img src="{{.image_path}}" alt="aboutfeature" loading="lazy"/>
            </div>
          {{ end }}
          <div class="pattern">
            <img src="/images/about/patterns-two.png" alt="patterns" loading="lazy"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
