<section class="sectioned-content-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sectioned-content-hero-content text-center">
          <h1>{{.title}}</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sectioned-content">
  <div class="container">
    <div class="row">
      <div class="sectioned-content-wrapper">
        <div class="col-lg-7 mx-auto">
          <div
            data-bs-spy="scroll"
            data-bs-target="#sectioned-content-nav"
            data-bs-offset="0"
            tabindex="0"
          >
            {{ range $index, $section := .sections }}
            <div class="sectioned-content-items" id="section{{add $index 1}}">
              <div class="card">
                <h3 class="sub-title">{{.heading}}</h3>
                <div class="card-body">{{.body | markdownify}}</div>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
        <div class="col-lg-4">
          <nav id="sectioned-content-nav" class="navbar navbar-light sectioned-content-nav">
            <ul class="nav nav-pills">
              {{ range $index, $section := .sections }}
              <li class="nav-item">
                <a class="nav-link {{ if eq $index 0 }}active{{ end }}" href="#section{{add $index 1}}"
                  >{{.heading}}</a
                >
              </li>
              {{ end }}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
